<div class="container" id="homeContainer">
    <div class="row">
        <div class="col-md-12 introContainer">
            <h1 id="introBlurb"><a class="scrape-link" href="/scrape">Scrape</a> the latest car news from Jalopnik.com!</h1>
        </div>
    </div>
</div>